<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lblzr.cookbookplus">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RecipeViewActivity"
            android:label="@string/title_activity_recipe"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.RecipeEditActivity"
            android:label="Add Recipe"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.IngredientEditActivity"
            android:label="Add Ingredient"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activities.StepEditActivity"
            android:label="Add Step"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>